extends shared/theme
append head
 title Admin Console
block pageSpecNav
 p.navbar-text List of Humans
block content
 h3 Some Humans:
 table.table.table-striped
  tr
   th 
   th First Name
   th Last Name
   th Address 1
   th Address 2
   th City
   th State
   th Zip
   th Country
   th Join Date
  each user,i in users
   tr
    td=(i+1)
    td=user.firstName
    td=user.lastName
    td=user.address1
    td=user.address2
    td=user.city
    td=user.state
    td=user.zip
    td=user.country
    td=user.joinDate
  //for each user in users Table, make a row.
